<% layout('../layout/templateLTE') %>
<% block('titulo1', "Ventas") -%>
<% block('titulo2', "Nuevo") -%>

<script src="https://unpkg.com/hotkeys-js/dist/hotkeys.min.js"></script>
<form action="/venta/nuevo" method="post">
<div ng-app="super_venta" ng-controller="ventas">

    <h1> Ventas  </h1>
    dice:{{ejemplo}}

    cliente
    <input type="text" name="cliente" id="">
    cliente seleccionado
    juan 
    productos:
    <div ng-init="listaproducto =<%=
    JSON.stringify([
        {id:1,codigo:010,nombre:'coca cola', cant:10,precio:5.5},
        {id:2,codigo:469,nombre:'cola111', cant:10,precio:5},
        {id:3,codigo:123,nombre:'coca222', cant:50,precio:7},
        {id:4,codigo:234,nombre:'mani', cant:15,precio:2.5},
        {id:5,codigo:345,nombre:'papa', cant:20,precio:3},
        {id:6,codigo:456,nombre:'galletas', cant:15,precio:6}

    ])
    %>">
    <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Quick Example</h3>
        </div>
        producto
    <select class="form-control" id="prod"  ng-model="producto" ng-options=" dato as dato.codigo  for dato in listaproducto track by dato.id" >
        <option ></option>
    </select>
        producto:{{producto.nombre}}
        <strong> cant:{{producto.cant|number:2}}</strong>
        precio
        {{producto.precio|number:2}}
        cantidad
        
        <input  class="form-control" type="number" step="0.01" min="1" max="{{producto.cant}}"  ng-model="cant"  id="">
        <strong>{{cant*producto.precio|number:2}}Bs.</strong>
        <button type="button"   ng-click="agregar()" >agregar</button>
        

</div>
        <div>
            <table class="table table-bordere">
                <tr>
                    <th>producto</th>
                    <th>precio</th>
                    <th>cant</th>
                    <th>importe</th>
                </tr>
                <tr ng-repeat="item in carrito" >
                    <td>{{item.producto.nombre}}</td>
                    <td>{{item.precio|number:2}}</td>
                    <td>{{item.cant|number:2}}</td>
                    <td>{{item.cant*item.precio|number:2}}</td>
                    <td><button ng-click="confirmar(item)"  data-toggle="modal" data-target="#modal-default" ><i class="far fa-times-circle"></i></button> </td>
                </tr>
            </table>

        </div>

    </div>
    <div>
        total Bs.:{{total|number:2}}
    </div>
    <input type="hidden" name="detalle" ng-value="detalle_lista"   >
    <input type="submit" value="realizar Venta">
</form>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Confirmar Borrar</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Esta seguro de borrar el producto del carrito&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary" ng-click="confirmadoBorrar()"  data-dismiss="modal">Si</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</div>

