<h1> Ventas  </h1>
cliente
<input type="text" name="cliente" id="">
cliente seleccionado
juan 
productos:
<div>
    producto
<select>
    <option></option>
</select>
    precio
    55
    cantidad
    <input type="number"  id="">
    <button>agregar</button>

    <div>
        <table>
            <tr>
                <th>producto</th>
                <th>precio</th>
                <th>cant</th>
                <th>importe</th>
            </tr>
        </table>

    </div>

</div>
<div>
    total Bs.:555555
</div>
<input type="submit" value="realizar Venta">
